<button class='carousel-nav carousel-prev' data-carousel='prev' aria-label='Previous'>
  <svg viewBox='0 0 24 24' aria-hidden='true'><path d='m15 5-7 7 7 7'/></svg>
</button><button class='carousel-nav carousel-next' data-carousel='next' aria-label='Next'>
  <svg viewBox='0 0 24 24' aria-hidden='true'><path d='m9 5 7 7-7 7'/></svg>
</button>
