{% import '_components.html.j2' as ui with context -%}
<div class='decision-table' data-view='{{ decision }}'>
  {%- for parent in parents %}
  {% set target = 'no' if decision == 'yes' else 'yes' %}
  <article class='decision-row'>
    {{ ui.profile(parent, primary_candidate(parent)) }}
    <button data-worth='{{ target }}' data-pub='{{ parent.worth_row.key }}'
            data-parent='{{ parent.slug }}'>Move to {{ target | title }}</button>
  </article>
  {%- endfor %}
</div>
